:root{
    --body-color: #F6F8F9;
    --lightblue: #47ADF1;
    --grey: #93999d;
    /* --checkmark:&#10003 */
    /* --xmark:&#x2718 */
 }
 html {
    line-height: 160%;
    font-family: sans-serif;
 }
 body {
    background-color: var(--body-color);
 }
header h1{
    display: inline-block;
}
header img, header h1{
    vertical-align: middle;
}
header {
    background-color: #fff;
    padding: 20px
}
.section-up {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px 0px 10px 50px;
    width: 80%;
    margin: auto;
    border-bottom: var(--body-color);
}
.section-down {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 0px 10px 50px;
    width: 80%;
    margin: auto;
}
.section-up span {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
}
.button {
    border-radius: 30px;
    border: 1px solid;
    color: #fff;
    padding: 10px ;
}

#lightblue{
    background-color: var(--lightblue);
}
#no-color{
    color: #DDE1E4;
    border-color: var(--grey)
}
h2 {
    display: inline-block;
}
.section-down div {
    padding-top: 20px;
}
